@font-face {
    font-family: 'Romantic';
    src: url('RomanticAustineDemo.otf')format('opentype'), url('RomanticAustineDemo.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;


    /*
    TIPOS DE FORMAT()
    - Opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - embedded-aat (Apple Advanced Typography)
    - svg*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Romantic', times, serif;
    font-size: 3em;
}
